@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

$base-color:#3641de;

#main {
   height: 100vh;
   background-color: black;
   background-image: url(../img/bg.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

   nav {
      letter-spacing: 2px;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      margin-bottom: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-item {
         a {
            color: grey;
            display: flex;
            align-items: center;
            margin-left: 15px;

            span {
               padding-left: 10px;
            }

            &:hover {
               color: white;
               text-decoration: overline;
            }

            &:active {
               color: $base-color;
            }
         }
      }
   }

   .brand {
      // margin: 20px 0;
      text-align: center;
   }

   .btn {
      position: absolute;
      background-color: black;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      width: 100px;
      height: 50px;
      line-height: 70px;

      a {
         color: grey;
         text-transform: uppercase;
         letter-spacing: 2px;
      }

      &:hover {
         cursor: pointer;
         background-color: #DCED30;

         a {
            color: black;
            font-weight: 700;
         }
      }
   }
}

#app {
   .nav {
      display: flex;
      justify-content: space-between;
      border-bottom: 3px solid #d8d8d8;
      padding: 15px 0;

      &__brand {
         img {
            width: 250px;
         }
      }

      &__link {
         align-items: center;
         display: flex;

         &--item {
            a {
               color: black;

               ion-icon {
                  width: 35px;
                  height: 25px;
               }

               &:hover {
                  color: $base-color;
               }
            }
         }
      }
   }

   main {
      margin: 20px 0;

      .sidebar {
         border-right: 3px solid $base-color;
         border-radius: 1px;
      }
   }

   footer {
      background-color: $base-color;
      text-align: center;
      color: white;
      padding: 20px 0;

      a {
         color: yellow;
      }
   }
}