@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

$base-color:#3641de;

#main {
   height: 100vh;
   background-color: black;
   background-image: url(../img/bg.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

   nav {
      letter-spacing: 2px;
      font-weight: 500;
      text-align: center;
      padding: 20px 0;
      margin-bottom: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-item {
         a {
            color: grey;
            display: flex;
            align-items: center;
            margin-left: 15px;

            span {
               padding-left: 10px;
            }

            &:hover {
               color: white;
               text-decoration: overline;
            }

            &:active {
               color: $base-color;
            }
         }
      }
   }

   .brand {
      // margin: 20px 0;
      text-align: center;
   }

   .btn {
      position: absolute;
      background-color: black;
      border-top-left-radius: 110px;
      border-top-right-radius: 110px;
      margin: auto;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      width: 100px;
      height: 50px;
      line-height: 70px;
      transition: background .5s;

      a {
         color: grey;
         text-transform: uppercase;
         letter-spacing: 2px;
      }

      &:hover {
         cursor: pointer;
         background-color: yellow;

         a {
            color: black;
            font-weight: 500;
         }
      }
   }
}

#app {
   position: relative;
   width: 100%;

   nav {
      background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 25;
   }

   .nav {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f2f2f2;
      padding: 15px 0;

      &__brand {
         img {
            width: 250px;
         }
      }

      &__link {
         align-items: center;
         display: flex;

         &--item {
            a {
               color: black;

               ion-icon {
                  width: 40px;
                  height: 25px;
               }

               &:hover {
                  color: $base-color;
               }
            }
         }
      }
   }

   main {
      position: relative;
      // min-height: 100vh;
      margin: 80px 0 0 0;
      padding: 30px 0;

      .sidebar {
         border-right: 0.3rem solid $base-color;
         border-radius: 1px;
         min-height: 100vh;

         .list__group {
            list-style: none;

            &--item {
               padding: 0;
               display: block;
               width: 100%;
               background-color: transparent;
               border: 1px solid transparent;
               color: black;
               text-align: start;
               font-size: small;

               &:active {
                  color: $base-color;
               }
            }
         }
      }

      .content {
         margin-left: 10px;

         h2 {
            color: black;
            letter-spacing: 2px;
            font-weight: 400;
            text-transform: uppercase;
         }

         p {
            letter-spacing: .5px;
         }

         pre {
            border-right: 0.3rem dashed $base-color;
            border-left: none;
            transition: background 0.5s;
            padding: 15px 0;
            color: black;

            &:hover {
               border-right: 0.3rem dashed $base-color;
               background-color: yellow;
            }
         }

         code {
            background: none;
         }

         .alert {
            border-radius: 5px;
            padding: 15px;
         }

         .alert-success {
            color: green;
            background-color: greenyellow;
         }

         .alert-warning {
            color: red;
            background-color: #ffbaba;
         }
      }
   }

   footer {
      background-color: $base-color;
      text-align: center;
      color: white;
      padding: 20px 0;
      font-size: 14px;
      letter-spacing: .6px;
      // position: fixed;
      // bottom: 0;
      // width: 100%;

      a {
         color: yellow;
      }
   }
}