	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	@font-face {
		font-family: "axiformaBold";
		src: url('../font/Axiforma Bold.otf');
	}

	@font-face {
		font-family: "appleReguler";
		src: url('../font/apple-sd-gothic-neo-regular.otf');
	}

	@font-face {
		font-family: "axiformaMedium";
		src: url('../font/Axiforma Medium.ttf');
	}


	body {
		-webkit-font-smoothing: antialiased;
		-webkit-overflow-scrolling: touch;
		font-family: "appleReguler";
	}

	.nav-header .navbar-collapse ul li a {
		text-transform: uppercase;
		font-family: "axiformaBold";
		position: relative;
		-webkit-transition: 0.5s all;
		-o-transition: 0.5s all;
		transition: 0.5s all;
		overflow: hidden;
	}

	.nav-header .navbar-collapse .navbar-nav li a:before {
		content: '';
		width: 35px;
		position: absolute;
		border-bottom: 3px solid #66ccff;
		bottom: 0;
		left: 1000px;
		-webkit-transition: 0.5s -ms-text-align-last left;
		-o-transition: 0.5s -ms-text-align-last left;
		transition: 0.5s -ms-text-align-last left;
		text-align-last: left;
	}

	.nav-header .navbar-collapse .navbar-nav a.active {
		color: #f2693e;
	}

	.nav-header .navbar-collapse ul li a:hover:before {
		left: 8px;
	}

	.navbar.solid {
		background-color: white;
		-webkit-transition: 0.8s ease;
		-o-transition: 0.8s ease;
		transition: 0.8s ease;
	}

	.nav-sosmed {
		justify-content: flex-end;
	}

	.nav-sosmed a i {
		color: #f2693e;
		font-size: 30px;
		/*	letter-spacing: 25px;*/
		padding: 10px;
	}

	header {
		position: relative;
		height: 100vh;
		min-height: 13rem;
		width: 100%;
		overflow: hidden;
	}

	header video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		z-index: 0;
	}

	header .tagline {
		position: absolute;
		bottom: 0;
		z-index: 2;
		line-height: 35px;
	}

	.player {
		/*	pointer-events: none;*/
		/*	padding: 0 !important;*/
		/*	margin-top: -40px;*/
	}

	.pattern {
		background-image: url(../img/atozpay/pattern-white.png);
		background-repeat: repeat;
		background-attachment: scroll;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.overlay {
		background-color: rgba(0, 0, 0, 0.28);
		width: 100%;
		height: 100%;
		-webkit-transition: .5s ease;
		-o-transition: .5s ease;
		transition: .5s ease;
		position: absolute;
		/*	bottom: 0;*/
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
	}

	header .container h1 {
		font-family: 'axiformaBold';
		text-transform: uppercase;
		/*	font-size: 55px;*/
		font-size: 4em;
		color: #f2693e;
	}

	header .container p {
		font-family: 'axiformaBold';
		/*	font-size: 30px;*/
		font-size: 3em;
		color: white;
	}

	header .container span {
		font-family: 'axiformaBold';
		/*	font-size: 25px;*/
		font-size: 3em;
		color: white;
	}

	.profil {
		position: relative;
		padding: 138px;
	}

	.profil .btn-next {
		border-radius: 50px;
		border: 2px solid #f2693e;
		color: grey;
	}

	.profil .btn-next:hover {
		background-color: #f2693e;
		color: white;
	}

	.profil .btn-next:hover,
	.profil .btn-next:focus {
		box-shadow: inset 6.5em 0 0 0 var(--hover);
	}


	.profil img {
		top: 0;
		position: absolute;
		width: 55%;
	}

	.profil h1,
	.sub-profil h1,
	.fitur h1,
	.download_bdy h1,
	.sub-fitur-more h1,
	.atozgo h1,
	.faq h1 {
		font-family: "axiformaBold";
		color: #f2693e;
	}

	.profil p {
		text-align: justify;
		/*	font-family: "axiformaMedium";*/
		font-family: "appleReguler";
	}

	.sub-profil {
		padding: 154px 154px 105px 154px;
		background-color: #f8f8f8;
		position: relative;
		overflow: hidden;
	}

	.sub-profil img {
		position: absolute;
		right: 0;
		top: 0;
	}

	.sub-profil .container img {
		position: absolute;
		top: 242px;
		right: 94px;
		z-index: 1;
	}


	.profit .profit-content {
		/*	padding-top: 58px;*/
		margin-top: 58px;
	}

	.profit-content .profit_hd {
		background-color: #4ecaf5;
		position: relative;
		/*	padding: 5px;*/
		height: 41px;
	}

	.profit-content .profit_hd i {
		color: #f2693e;
		font-size: 40px;
		position: absolute;
		position: absolute;
		bottom: -1px;
		left: 15px;
	}

	.profit-content .profit_bdy {
		background-color: #f2693e;
		color: white;
		padding: 10px;
		min-height: 100%;
	}

	.profit-content .profit_bdy h3 {
		text-align: center;
		padding: 5px;
		font-family: "axiformaBold";
		text-transform: uppercase;
	}

	.profit-content .profit_bdy p {
		font-family: "appleReguler";
		font-size: 16px;
	}

	.fitur {
		padding: 110px;
		position: relative;
		z-index: 1;
	}

	.fitur .fitur-content {
		margin-top: 100px;
		text-align: center;
	}

	.fitur-content .fitur-bdy {
		/*	padding: 20px;*/
	}

	.fitur-content .fitur-bdy img {
		padding: 10px;
		height: 100px;
	}

	.fitur-content .fitur-bdy h3 {
		font-family: "axiformaBold";
		color: #f2693e;
		font-size: 17px;
		margin-top: 27px;
		text-transform: uppercase;
	}

	.fitur-content .fitur-bdy p {
		font-family: "appleReguler";
		/*	font-size: 10px;*/
	}

	.download {
		padding: 186px 171px 60px 171px;
		background-color: #f8f8f8;
		position: relative;
		overflow: hidden;
	}

	.download_bdy {
		padding: 20px;
	}

	.download_bdy .bdy_tx p {
		margin-top: 50px;
		text-align: justify;
		font-family: "appleReguler";
	}

	.download_bdy .bdy_img {
		margin-top: 20px;
		text-align: center;
	}

	.download_bdy .bdy_img a {
		height: 20px;
	}

	.download .dw_img img {
		position: absolute;
		right: 0;
		top: 0;
	}

	.download .container .dw_phn img {
		position: absolute;
		right: 215px;
		bottom: 0;
		z-index: 2;
	}

	.download .bdy_tx {
		position: relative;
		z-index: 1;
	}


	.sub-fitur {
		background-image: url(../img/atozpay/bg-fitur.png);
		background-repeat: repeat;
		background-size: cover;
		padding: 70px;
		position: relative
	}

	.sub-fitur .fitur-box {
		text-align: center;
		color: white;
		font-family: 'axiformaBold';
		padding: 20px;
	}

	.fitur-box .box_img {
		height: 250px;
		line-height: 250px;
	}

	.fitur-box .box_text h3 {
		margin-top: 27px;
	}

	.fitur-box .box_text p {
		font-family: "appleReguler";
	}

	.sub-fitur-more {
		padding: 56px;
	}


	.sub-fitur-more .more-box {
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 40px 30px;
		background-color: #66ccff;
		min-height: 240px;
	}

	.sub-fitur-more .more-box h3 {
		font-family: "axiformaBold";
		color: white;
	}

	.sub-fitur-more .more-box p {
		font-family: "appleReguler";
	}

	.atozgo {
		padding: 50px 5px;
		/*	min-height: 600px;*/
		position: relative;
		background-color: #fff;
	}

	.atozgo .go-ride {
		margin-top: 50px;
		font-family: "appleReguler";
		text-align: justify;
	}

	.atozgo .go-ride b {
		color: #f2693e;
	}

	.go-ride .go-img {
		margin: 60px auto;
	}

	.go-img .wr_btn {
		padding: 20px;
	}

	.go-img .wr_btn img {
		width: 13vw;
		margin: 10px;
	}

	.go-ride .go-img a img {
		width: 15vw;
	}

	.atozgo .go-icon {
		position: absolute;
		right: 50vw;
		top: 25vh;
		padding: 20px;
	}

	.go-icon .icon {
		padding: 15px;
		background: #f8f8f8;
		margin: 5px;
	}

	.sub-atozgo .go-icon h1 {
		font-family: "axiformaBold";
		color: white;
	}

	.go-icon .icon span {
		font-family: 'axiformaBold';
		margin-left: 5px;
	}

	.go-icon .icon .ico {
		display: inline-block;
		padding: 10px;
		background-color: #f2693e;
	}

	.go-icon .icon i {
		font-size: 20px;
		color: white;
	}


	.sub-atozgo {
		padding: 50px 50px 100px 50px;
		background-color: #f8f8f8;
		background-image: url(../img/atozpay/halftone-yellow.png);
		background-repeat: repeat;
		position: relative;
		overflow: hidden;
	}

	.sub-atozgo .char {
		position: absolute;
		margin: auto 25%;
		bottom: 0;
		display: none;
	}

	.sub-atozgo .amsi {
		position: absolute;
		top: 20vh;
		left: 24vw;
		-webkit-animation: gerak 2s ease 2s infinite alternate;
		-o-animation: gerak 2s ease 2s infinite alternate;
		animation: gerak 3s ease 2s infinite alternate;
		-webkit-transition: 5s ease;
		-o-transition: 5s ease;
		transition: 5s ease;
	}

	.sub-atozgo .amsi img {
		-webkit-transform: rotate(-35deg);
		-ms-transform: rotate(-35deg);
		-o-transform: rotate(-35deg);
		transform: rotate(-35deg);
	}

	@keyframes gerak {
		0% {
			top: 15vh;
		}

		100% {
			top: 20vh;
			left: 24vw;
		}
	}


	.sub-atozgo .mockup .moc-case {
		left: 280px;
		bottom: 70px;
		position: absolute;
	}

	.moc-case .mobile {
		width: 225px;
		height: 425px;
		background-image: url(../img/atozpay/hand-min.png);
		background-size: cover;
	}


	.mobile .screen {
		overflow: hidden;
		position: absolute;
		top: 7.1%;
		bottom: 47.6%;
		left: 37.49%;
		right: 13.4%;
		background-color: #f2693e;
	}

	.screen .slideshow {
		height: 100%;
	}

	.screen .slideshow div {
		height: 100%;
	}

	.slideshow .slideshow_item {
		height: 100%;
		color: rgba(255, 255, 255, 0.7);
		display: flex;
		justify-content: center;
	}

	.slideshow_item.slide_1 {
		background-image: url(../img/atozpay/makan.png);
		background-size: cover;
	}

	.slideshow_item.slide_2 {
		background-image: url(../img/atozpay/minuman.png);
		background-size: cover;
	}

	.slideshow_item.slide_3 {
		background-image: url(../img/atozpay/kudapan.png);
		background-size: cover;
	}

	.sub-atozgo .bg-subgo {
		position: absolute;
		bottom: -16px;
		left: -56vw;
		right: 0;
		height: 50vh;
		z-index: 1;
		background-repeat: repeat;
		background-size: cover;
		background-image: url(../img/atozpay/bg-sub.png);

	}

	.atozpayagen {
		font-family: "axiformaBold";
		background-image: url(../img/atozpay/wormz.png);
		background-repeat: repeat;
		background-color: #236062;
		color: white;
		padding: 50px;
		overflow: hidden;
		position: relative;
		z-index: 0;
	}

	.atozpayagen .icon-atozpayagen {
		background-image: url(../img/atozpay/icon-atozpayagen.png);
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.atozpayagen .icon-atozpayagen-download {
		/*
		background-image: url(../img/atozpay/icon-atozpayagen.png);
		background-repeat: no-repeat;
		position: absolute;
		width: 25%;
		height: 50%;
	*/
	}

	.atozpayagen .bg-atozpayagen {
		background-color: #236062c2;
		position: absolute;
		height: 100%;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
	}

	.atozpayagen .bdy-bg-atoz {
		position: relative;
		z-index: 2;
	}

	.atozpayagen .bdy_atozpay {
		text-align: center;
		font-family: "appleReguler";
	}

	.atozpayagen .bdy_atozpay .btn-daftar {
		background-color: #f2693e;
		border-radius: 50px;
		color: white;
		margin-top: 50px;
		padding: 20px;
	}

	.atozpayagen .bdy_atozpay .btn-daftar:hover {
		background-color: #4ecaf5;
	}

	.faq {
		background-color: #f8f8f8;
		padding: 95px 50px;
		font-family: "axiformaBold";
	}

	.faq .faq-box {
		padding: 20px;
	}

	.faq .faq-box:hover {
		background-color: #4ecaf5;
		color: white;
	}

	.faq-box .card-body {
		font-family: "appleReguler";
		color: black;
	}

	[aria-expanded="false"] > .expanded,
	[aria-expanded="true"] > .collapsed {
		display: none;
	}

	.banner img {
		width: 100%;
	}

	.footer {
		padding: 63px 63px 0;
		font-family: "axiformaBold";
	}

	.footer .footer-pnl h3 {
		color: #f2693e;
	}

	.footer .footer-pnl ul li {
		list-style: none;
	}

	.footer .footer-pnl ul li a {
		color: #333333;
	}

	.footer .footer-pnl ul li a:hover {
		color: #4ecaf5;
	}

	.footer .footer-pnl a i {
		font-size: 30px;
		color: #f2693e;
		letter-spacing: 20px;
	}

	.footer-foot {
		padding: 25px;
		text-align: center;
	}

	.footer-foot img {
		width: 200px;
	}

	.footer-foot p {
		margin-top: 20px;
	}

	.footer .footer-pnl a i:hover,
	.navbar .nav-sosmed a i:hover {
		color: #4ecaf5;
	}

	#myBtn {
		display: none;
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		/*	background-color: red;*/
		color: #f2693e;
		cursor: pointer;
		/*	padding: 15px;*/
		/*	border-radius: 4px;*/
		-webkit-transition: 0.5s ease;
		-o-transition: 0.5s ease;
		transition: 0.5s ease;
	}

	#myBtn i {
		font-size: 40px;
	}

	#myBtn i:hover {
		color: #4ecaf5;
	}



	/*
	@media only screen and (max-width:320px) {

		nav .navbar-brand img {
			width: 200px;
		}

		nav .collapse ul {
			text-align: center;
		}

		nav .nav-sosmed {
			justify-content: center;
		}

		nav .nav-sosmed li a i {
			letter-spacing: 0;
			padding: 5px;
		}

		.nav-header .navbar-collapse ul li a:hover:before {
			left: 43%;
		}

		header .container h1 {
			font-size: 3em;
		}

		header .container p,
		header .container span {
			font-size: 2em;
		}

		.profil,
		.sub-profil,
		.fitur,
		.download,
		.atozpayagen,
		.sub-fitur,
		.atozgo,
		.sub-fitur-more,
		.sub-atozgo,
		.faq,
		.footer {
			padding: 10px;
		}

		.profil img {
			width: 172px;
			filter: opacity(0.5);
		}

		.fitur .fitur-content {
			margin-top: 0;
		}

		.download img.dw_img {
			width: 100px;
			filter: opacity(0.5);
		}

		.download_bdy {
			padding: 0;
		}

		.download_bdy .bdy_img {
			padding: 15px;
		}

		.profil h1,
		.sub-profil h1,
		.fitur h1,
		.download_bdy h1,
		.atozpaygen h1,
		.sub-fitur-more h1,
		.atozgo h1,
		.faq h1 {
			font-family: "axiformaBold";
			color: #f2693e;
			position: relative;
			z-index: 1;
		}

		.download .container img.dw_phn {
			display: none;
		}

		.atozpayagen h1 {
			text-align: left !important;
		}

		.atozpayagen .bdy_atozpay {
			margin-top: 25px;
			padding: 30px 0px;
		}

		.atozpayagen .bdy_atozpay .btn-daftar {
			margin-top: 0;
			padding: 10px 25px;
		}

		.go-img .wr_btn img {
			margin: 0;
			width: 100%;
		}
	}
	*/

	@media only screen and (max-width:375px) {
		header video {
			display: none;
		}

		.atozpayagen .icon-atozpayagen {
			bottom: -30px;
			left: 3px;
			width: none;
		}

		.go-img .wr_btn img {
			width: 50vw;
		}

		.atozgo h1 {
			font-size: 35px;
		}

	}

	@media only screen and (max-width:425px) {

		header .tagline {
			line-height: 35px;
			font-size: 13px;
		}

		nav ul {
			text-align: center;
		}

		nav .nav-sosmed {
			justify-content: center;
		}

		.profil img {
			/*		width: 25em;*/
			opacity: 0.5;
		}

		.fitur .fitur-content {
			margin-top: 50px;
		}

		.download .dw_img img {
			width: 15em;
			opacity: 0.5;
		}

		.download .container .dw_phn img,
		.sub-atozgo .char img {
			display: none;
		}

	}

	@media only screen and (max-width: 768px) {

		.profil,
		.fitur,
		.download,
		.atozpayagen,
		.atozgo,
		.sub-atozgo,
		.faq,
		.footer {
			padding: 20px !important;
		}

		/*
			.profil img {
		width: 32em;
	}
	*/

		.download .container .dw_phn img {
			width: 24vw;
		}

		.atozpayagen .icon-atozpayagen {
			background-size: contain;
			opacity: 0.5;
		}

		.sub-atozgo .amsi,
		.sub-atozgo .mockup,
		.sub-atozgo .bg-subgo {
			display: none;
		}

		.sub-atozgo .char {
			margin: auto 70px;
			display: block;
		}

		.footer .footer-pnl {
			text-align: center;
		}

		.footer .footer-pnl a i {
			letter-spacing: 0;
			padding: 25px;
		}
	}


	@media only screen and (max-width: 1024px) {

		nav .navbar-collapse ul li {
			font-size: 13px;
		}

		.profil img {
			left: 0;
		}

		.download {
			padding: 110px;
		}

		.download .dw_img img {
			width: 48vw;
		}

		.download .container .dw_phn img {
			right: 130px;
			top: auto;
			bottom: 0;
		}

		.sub-atozgo .mockup .moc-case {
			left: 200px;
			bottom: 0;
		}

		.sub-atozgo .bg-subgo {
			bottom: 0;
			left: auto;
		}

	}

	/*
	Note:

	-----color------
	color orange : #f2693e;
	color blue   : #4ecaf5;

	-----font------
	font-family: "axiformaBold";
	font-family: "axiformaMedium";
	font-family: "axiformaBlack";
	font-family: "appleExstraBold";
	font-family: "appleReguler";
	font-family: "appleBold";
	end
*/
